@use "src/app/styles/variables";

.wrapper {
    padding: 12.5px 20px;
    border-radius: 5px;
    font-size: 17px;
    border: none;
    color: white;
    transition: all 0.3s ease-in-out;

    &:disabled {
        background-color: variables.$light_green;
    }
}

.default {
    background-color: variables.$main_green;
}
