@use "/src/app/styles/variables";
@use "/src/app/styles/mixins";

.wrapper {
    background-color: variables.$dark-green;
    height: 100%;
    flex-direction: column;

    @include mixins.flex-center;
}

.title {
    font-size: 70px;
    margin-bottom: 50px;
}

.description {
    font-size: 30px;
}

.description,
.title {
    color: variables.$white;
}
