@use "/src/app/styles/variables";
@use "/src/app/styles/mixins";

.wrapper {
    border-radius: 50%;
    background-color: variables.$main_green;
    border: none;
    color: variables.$white;
    padding: 10px;
    transition: all 0.3s ease-in-out;

    @include mixins.flex-center();
}

.disabled {
    background-color: variables.$light_green;
}
