@use "/src/app/styles/variables";

.wrapper {
    border-radius: 50%;
    background-color: variables.$main_green;
    border: none;
    color: variables.$white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.disabled {
    background-color: variables.$light_green;
}
