@use "src/app/styles/variables";

.wrapper {
    display: flex;
    flex-direction: column;
}
.content {
    position: relative;
    width: 100%;
}

.input {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    background-color: transparent;
    color: variables.$text-color;
    border: 2px solid variables.$main-green;
    width: 100%;
}

.description {
    margin-top: 5px;
    color: variables.$secondary-text-color;
    font-size: 12px;
    font-weight: 600;
}
