@use "/src/app/styles/variables";

.wrapper {
    padding-bottom: 40px;

    @media (max-width: 1300px) {
        padding: 0 20px 40px;
    }
}

.sum {
    display: block;
    text-align: right;
    font-weight: 600;
    color: variables.$dark_green;
}
