@use "/src/app/styles/variables";

.wrapper {
    display: flex;
    align-items: center;
    border: 2px solid variables.$main-green;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    justify-content: center;
    font-weight: 600;
    color: variables.$text-color;
}
