@use "/src/app/styles/variables";
@use "/src/app/styles/mixins";

.wrapper {
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid variables.$main-green;

    @include mixins.flex-between;
}
