@use "/src/app/styles/variables";

.wrapper {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid variables.$main_green;
}
